In [2]:
sdata <- read.table(file.choose(), sep = " ", header = TRUE)
head(sdata); nrow(sdata); ncol(sdata)

# Calculate Total and Percentage
marks <- sdata[, paste0("m", 1:5)]
Total <- rowSums(marks)
ptge <- Total / 5

# Determine Pass/Fail (vectorized)
result <- ifelse(apply(marks > 50, 1, all), "Pass", "Fail")

# Add results to the original data
sdata <- cbind(sdata, result, Total, ptge)
sdata

  sname sroll sage ssex   branch m1 m2 m3 m4 m5
1 raja  101   19   male   cse    90 95 85 70 67
2 soma  103   20   male   mech   79 85 25 40 67
3 roja  104   18   female eee    88 90 85 60 89

[1] 3

[1] 10

  sname sroll sage ssex   branch m1 m2 m3 m4 m5 result Total ptge
1 raja  101   19   male   cse    90 95 85 70 67 Pass   407   81.4
2 soma  103   20   male   mech   79 85 25 40 67 Fail   296   59.2
3 roja  104   18   female eee    88 90 85 60 89 Pass   412   82.4