In [3]:
sdata <- data.frame(
  sname = c("Raja", "somu", "Roja"),
  srollno = c(101, 103, 102),
  sage = c(19, 20, 18),
  ssex = c("male", "male", "female"),
  sbranch = c("CSE", "MECH", "EEE"),
  m1 = c(90, 79, 88), m2 = c(95, 85, 90),
  m3 = c(85, 25, 85), m4 = c(70, 40, 60),
  m5 = c(67, 67, 89)
)

In [4]:
# View structure
head(sdata); nrow(sdata); ncol(sdata)

  sname srollno sage ssex   sbranch m1 m2 m3 m4 m5
1 Raja  101     19   male   CSE     90 95 85 70 67
2 somu  103     20   male   MECH    79 85 25 40 67
3 Roja  102     18   female EEE     88 90 85 60 89

[1] 3

[1] 10

In [5]:

# Compute Total and Percentage
marks <- sdata[, paste0("m", 1:5)]
Total <- rowSums(marks)
ptge <- Total / 5

In [6]:
# Determine Pass/Fail
result <- ifelse(apply(marks > 50, 1, all), "Pass", "Fail")

In [7]:

# Combine all into final data
tdata <- cbind(sdata, Total, ptge, result)
head(tdata)

  sname srollno sage ssex   sbranch m1 m2 m3 m4 m5 Total ptge result
1 Raja  101     19   male   CSE     90 95 85 70 67 407   81.4 Pass
2 somu  103     20   male   MECH    79 85 25 40 67 296   59.2 Fail
3 Roja  102     18   female EEE     88 90 85 60 89 412   82.4 Pass