In [1]:
sdata<-data.frame(sname=c('raja','soma','roja'), 
sroll=c(101,103,104), 
sage=c(19,20,18), 
ssex=c('male','male','female'), 
branch=c('cse','mech','eee'), 
m1=c(90,79,88),m2=c(95,85,90),m3=c(85,25,85),m4=c(70,40,60),m5=c(67,67,89))

In [2]:
sdata

  sname sroll sage ssex   branch m1 m2 m3 m4 m5
1 raja  101   19   male   cse    90 95 85 70 67
2 soma  103   20   male   mech   79 85 25 40 67
3 roja  104   18   female eee    88 90 85 60 89

In [4]:
write.table(sdata,file ='student.txt')

In [5]:
pdata=read.table('student.txt')

In [6]:
pdata

  sname sroll sage ssex   branch m1 m2 m3 m4 m5
1 raja  101   19   male   cse    90 95 85 70 67
2 soma  103   20   male   mech   79 85 25 40 67
3 roja  104   18   female eee    88 90 85 60 89

In [16]:
head(sdata)

  sname sroll sage ssex   branch m1 m2 m3 m4 m5
1 raja  101   19   male   cse    90 95 85 70 67
2 soma  103   20   male   mech   79 85 25 40 67
3 roja  104   18   female eee    88 90 85 60 89

In [8]:
nrow(sdata)

[1] 3

In [9]:
ncol(sdata)

[1] 10

In [12]:
result=vector(mode = 'character',length = 0)

In [14]:
for(i in 1:nrow(sdata)){
    if(all(sdata[i,c('m1','m2','m3','m4','m5')]>50)){
        status='pass'
        
    }else{
        status='fail'
    }
    result=append(result,status)
}

In [15]:
result

[1] "pass" "fail" "pass"

In [21]:
sdata$total=rowSums(sdata[c('m1','m2','m3','m4','m5')])

In [22]:
sdata$result=result

In [24]:
sdata$ptge=sdata$total/5

In [25]:
sdata

  sname sroll sage ssex   branch m1 m2 m3 m4 m5 total result ptge
1 raja  101   19   male   cse    90 95 85 70 67 407   pass   81.4
2 soma  103   20   male   mech   79 85 25 40 67 296   fail   59.2
3 roja  104   18   female eee    88 90 85 60 89 412   pass   82.4