In [2]:
hi=5

In [3]:
hi

[1] 5

In [1]:
a<-matrix(data = c(3,2,9,5),nrow = 2,ncol = 2,byrow = TRUE)

In [2]:
a

     [,1] [,2]
[1,] 3    2
[2,] 9    5

In [6]:
b<-matrix(data = c(7,1,6,4),nrow = 2,ncol = 2,byrow = FALSE)

In [10]:
b

     [,1] [,2]
[1,] 7    6
[2,] 1    4

In [9]:
print(b)

     [,1] [,2]
[1,]    7    6
[2,]    1    4